* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0 auto;
}

button {
    cursor: pointer;
}

header {
    padding: 25px;
    background-color: lightslategray;
}

.header_logo {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
}

.logo_title {
    display: inline-block;
    vertical-align: middle;
}

.logo_img {
    display: inline-block;
    vertical-align: middle;
}

.logo_img > .pro_pic {
    border-radius: 50%;
    width: 50px;
}

.logo_details {
    display: inline-block;
    vertical-align: middle;
}

.logo_title p {
    margin: 0;
}

.logo_details > .company_type {
    font-weight: bold;
}

.top_nav {
    display: inline-block;
    position: relative;
    text-align: right;
    width: calc(100% - 235px);
}

/* .header_menu {
    display: inline-block;
    position: relative;
    text-align: right;
    width: calc(100% - 260px);
} */

.header_menu > .btn_clr {
    border-radius: 30px;
    background-color: orangered;
    padding: 10px;
    border: none;
    color: white;
}

.header_menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.content_area {
    display: block;
    max-width: 1100px;
    padding: 30px 0;
    margin: 0 auto;
    font-size: 0px;
}

.content {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    width: calc(100% - 390px);
    background-color: white;
}

.col_1 {
    display: block;
    position: relative;
    width: 100%;
}

.col_1 img {
    width: 100%;
}

.col {
    display: inline-block;
    position: relative;
    padding: 5px;
    width: 50%;
}

.col img {
    width: 100%;
}

/* .row::after {
    content: "";
    clear: both;
    display: table;
} */

/* .content {
    padding: 5.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

.content #left {
    flex: 1 1 70%;
    background-color: white;
}

.content #right {
    flex: 1 1 30%;
    background-color: whitesmoke;
} */

/* #left {
    background-color: white;
    border: 1px solid #fff;
    padding: 0.5rem;
    flex-grow: 1 1 70%;
    color: black;
}

#right {
    background-color: whitesmoke;
    border: 1px solid #fff;
    padding: 0.5rem;
    flex-grow: 1 1 30%;
    color: black;
} */

/* .item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.item img {
    width: 100px;
    height: 100px;
} */

.caption {
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
}

/* .container {
    display: flex;
    align-items: center;
    justify-content: left;
}

.fluid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* .title {
    float: right;
    line-height: 0;
    margin: 0;
    padding-left: 10px;
    text-transform: uppercase;
}

.title #bold_title {
    font-weight: bold;
} */

/* .info {
    position: absolute;
    right: 10px;
    padding: 20px;
    margin: 0;
}

.info a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

#main_1 h3{
    position: inherit;
} */

aside {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 370px;
    padding: 30px;
    background: whitesmoke;
}

.client_pic {
    display: block;
    position: relative;
}

.client_pic .img_center {
    width: 100%;
}

.pro_title {
    display: block;
    position: relative;
}

.pro_title #right_name {
    font-weight: bold;
    font-size: 20px;
}

.pro_title #right_company {
    font-weight: bold;
    font-size: 15px;
}

.pro_title #right_title {
    font-weight: normal;
    font-size: 15px;
}

.pro_title #right_knowns {
    font-weight: normal;
    font-size: 15px;
}

.pro_upper {
    display: block;
    position: relative;
}

.pro_place {
    display: block;
    position: relative;
}

.pro_place #right_city {
    font-weight: bold;
    font-size: 20px;
}

.pro_place #right_number {
    font-weight: bold;
    font-size: 20px;
}

.pro_middle {
    display: block;
    position: relative;
}

.pro_details {
    display: block;
    position: relative;
}

.pro_details p{
    font-size: 15px;
}

.pro_license {
    display: block;
    position: relative;
    font-weight: bold;
    font-size: 15px;
}

.sponser_logo {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.info_button {
    display: block;
    position: relative;
    font-size: 15px;
    margin-top: 15px;
}

/* .pro_details #last_img {
    position: relative;
    left: 70px;
    bottom: -10px;
}

.pro_details > .sponser_logo::after {
    content: "";
    clear: both;
    display: table;
}

.pro_details > .sponser_logo > .col_2 {
    float: left;
    width: 18%;
} */

.info_button #btn_get {
    border-radius: 30px;
    border: none;
    background-color: orangered;
    padding: 10px;
    color: white;
    width: 100%;
}

.info_button #btn_visit {
    border-radius: 30px;
    border: none;
    background-color: rgb(42, 42, 119);
    padding: 10px;
    color: white;
    width: 100%;
}

.pagination {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    margin: 30px auto;
    font-size: 15px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #ddd;
    border-radius: 60%;
}

.social_media {
    display: block;
    position: relative;
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}

.fa {
    padding: 15px;
    width: 50px;
    text-decoration: none;
    margin: 20px 0px;
    border-radius: 50%;
} 

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

footer {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: rgb(50, 53, 56);
    text-align: center;
}

.footer_img {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

/* .pro_name {
    position: relative;
    bottom: -40px;
    right: -85px;
}

.company_name {
    position: relative;
    bottom: -70px;
    right: -10px;
}

.title_name {
    position: relative;
    bottom: -103px;
    right: 88px;
}

.bio_name {
    position: relative;
    bottom: -133px;
    right: 153px;
} */

/* @media screen and (max-width: 1024px) {

    .content {
        display: inline-block;
        padding-left: 95px;
        padding-top: 35px;
        position: absolute;
        top: 120px;
    }
    
/*     .col_1 {
        width: 56%;
        padding: 5px;
    }
    
    .col {
        float: left;
        width: 28%;
        padding: 5px;
    }
    
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    

    aside {
        display: inline-block;
        position: relative;
        right: -640px;
        top: 40px;
        height: 1220px;
        width: 32%;
        background: whitesmoke;
    }

    .client_pic > .img_center {
        position: relative;
        top: 30px;
        left: 47px;
        width: 235px;
        height: 245px;
    }

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 58px;
        text-align: center;
        text-decoration: none;
        margin: 20px 0px;
        border-radius: 50%;
    }

    .pagination {
        display: inline-block;
        position: relative;
        bottom: -120px;
        left: 125px;
    }
} */

/* @media screen and (max-width: 768px) {

/*     .content {
        display: none;
    }

    .col {
        float: left;
        width: 50%;
        padding: 5px;
    }

    .col_1 {
        width: 100%;
        padding: 5px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    } 

    aside {
        display: inline-block;
        position: relative;
        right: -480px;
        top: 40px;
        width: 30%;
        height: 1180px;
        background: whitesmoke;
    }

    .pro_title {
        position: relative;
        right: -25px;
        bottom: -10px;
    }

    .client_pic > .img_center {
        position: relative;
        top: 20px;
        left: 25px;
        width: 180px;
        height: 180px;
    }

    .pro_upper {
        width: 175px;
        position: relative;
        bottom: -15px;
    }

    .pro_place {
        position: relative;
        right: -25px;
        bottom: -15px;
    }

    .pro_middle {
        width: 175px;
        position: relative;
        bottom: -15px;
    }

    .pro_details {
        position: relative;
        right: -25px;
        bottom: -15px;
    }

    .pro_details p{
        padding-right: 75px;
        font-size: small;
        display: block;
    }

    .pagination {
        display: inline-block;
        position: relative;
        bottom: -80px;
        left: 55px;
    }

    /* .pro_details > .sponser_logo {
        content: "";
        clear: both;
        display: table;
    }

    .pro_details > .sponser_logo > .col_2 {
        width: 100%;
    } 

    .fa {
        padding: 8px;
        font-size: 20px;
        width: 38px;
        text-align: center;
        text-decoration: none;
        margin: 20px 0px;
        border-radius: 50%;
    }
} */

@media screen and (max-width: 800px) {
    .content {
        width: 100%;
        margin: 0 auto;
    }

    aside {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .content {
        width: 100%;
        margin: 0 auto;
    }

    aside {
        width: 100%;
    }

    .top_nav {
        display: none;
    }

    .logo_title {
        display: block;
    }

    .logo_title .logo_img {
        display: block;
        text-align: center;
    }

    .logo_title .logo_details {
        display: block;
        text-align: center;
    }
}